<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>add student</title>
  </head>
  <body>
    <h1>This page is to add students</h1>
    <a href="/students">show all data</a>

    <button type="submit" id='myButton'>Add Students</button>
  </body>
</html>
