<!DOCTYPE html>
<html>
    <head>
        <title>Add Students</title>
    </head>
    <body style="position: center;"> 
        <h1>Add Students Form</h1>
        <form action='/students/add' method = 'POST'>
            <p>
                <label>First Name</label><br>
                <input type="text" name="first_name"><br>
            </p>
            <p>
                <label>Last Name</label><br>
                <input type="text" name="last_name"><br>
            </p>
            <p>
                <label>Email</label><br>
                <input type="text" name="email"><br>
            </p>
            <label>Gender</label>
                <input type="radio" name="gender" value="male">
                <label for="male">Male</label>
                <input type="radio" name="gender" value="female">
                <label for="female">Female</label><br>
            <p>
                <label>Birth Date</label><br>
                <input type="date" name="birth_date"><br>
            </p>
            <!-- <input type="submit" name="submit" value ="Add new student"> -->
            <button type="submit" name = "submit" value="Add new Student">Submit</button>
        </form>
    </body>
    <foot>

    </foot>
</html>