<!DOCTYPE html>
<head>
    <title>Delete a Student</title>
</head>

<body>
    <h1> Delete a Student</h1>

    <form action ="/students/delete" method ="post">
        <label for ="id">Student's Id :</label>
        <br>
        <input type ="num" name="id" placeholder ="Student's Id" autofocus >
        <br>
        <br>
        <button type ="submit">Delete</button>
    </form>
</body>