<!DOCTYPE html>
<html>
    <head>
        <title>Edit School Application</title>
    </head>
    <body>
        <h1 style="text-align: center;">Edit Students Data</h1>
        <p style="text-align: center;"><a href="/students">show all data</a></p>
        <form action="/students/:id/edit" method = "POST">
            <p>
                <label>Fisrt Name</label><br>
                <input type ="text" name = "fisrt_name" ><br>
            </p>
            <p>
                <label>Last Name</label><br>
                <input type="text" name="last_name"><br>
            </p>
            <p>
                <label>Email</label><br>
                <input type="text" name="email"><br>
            </p>
            <p>
                <label>Gender</label><br>
                <input type="text" name="gender"><br>
            </p>
            <p>
                <label>Birth Date</label><br>
                <input type="date" name="birth_date"><br>
            </p>
            </p>
            <input type="submit" name="submit" value ="Edit Data">
        </form>
    </body>
</html>