<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>School App</title>
    </head>
    <body>
        <h1 style="text-align: center;">School App Express</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/students">Students</a></li>
                <li><a href="/teachers">Teachers</a></li>
                <li><a href="/subjects">Subjects</a></li>
            </ul>
    </body>
</html>