<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School App (students)</title>
</head>
<body>
    <h1>Hi! Welcome to our School App</h1>
    <p>try adding some routes of students/teachers/subjects on the url for further informations of our School.</p>
  
</body>
</html>
