<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <title>homepage</title>
  </head>
  <body>
    <h1>This is homepage</h1>
    <table class="table">
      <ul>
        <li><a href="/teachers">Show Teachers List</a></li>
        <li><a href="/students">Show Students List</a></li>
        <li><a href="/subjects">Show Subjects List</a></li>
      </ul>
  </body>
</html>
