<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Student</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <h1>Add Students Data</h1>
  <% if (err_msg) { %>
    <p><%= err_msg %></p>
  <% } %>
  <form action="" method="post">
    <label for="firstName">First Name</label><br>
    <input type="text" name="firstName" placeholder="First Name" id="">
    <br>
    <label for="lastName">Last Name</label><br>
    <input type="text" name="lastName" placeholder="Last Name">
    <br>
    <label for="email">Email</label><br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <label for="birthDate">Birth Date</label><br>
    <input type="text" name="birthDate" placeholder="Birth Date">
    <br><br>
    <input type="submit" value="Add Student">
  </form>
</body>
</html>