<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hapus data Student dengan id : <%= id %> </h1>

    <form action="/students/<%=id%>/hapus" method="post">
        Yakin Haapus Data ini ? <br>    
        <button type="submit"> YES </button> 
    </form>
    <form action="/students" method="get">
        <button type="submit"> NO  </button> 
    </form>
</body>
</html>