<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Subjects List</h1>

    <% if (dataSubject) { %>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Subject Name</th>
            </tr>
            <% dataSubject.forEach(item => { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.subject_name %></td>
                </tr>
            <% }) %>
        </table>
    <% }%>
</body>
</html>